.super-mario{
    height: 300px;
    position:relative;
    top: 50px;
    left:200px;
}

.goomba{
    height: 200px;
    position: absolute;
    top:430px;
    left:230px;
}

.bowser{
    height: 700px;
    position: absolute;
    top:20px;
    left: 800px;
}

.baloon{
    height: 200px;
    position: absolute;
    top: 50px;
    left: 490px;
}

.word{
    position: absolute;
    top: 90px;
    left: 510px;
    font-size: 25px;
    z-index:2;
}


